Source: gfal2-util
Priority: optional
Maintainer: DMC Devel <dmc-devel@cern.ch>
Build-Depends: debhelper (>= 8.0.0), python (>= 2.7), gfal2-python (>= 1.8.0), gfal2-plugin-file
Standards-Version: 3.9.5
Section: net
Homepage: http://dmc.web.cern.ch/

Package: gfal2-util
Architecture: any
Depends:  gfal2-python (>= 1.8.0)
Recommends: gfal2-plugin-file, gfal2-plugin-lfc, gfal2-plugin-dcap, gfal2-plugin-srm, gfal2-plugin-gridftp, gfal2-plugin-http
Description: GFAL2 utility tools
 gfal2-util is a set of basic utility tools for file 
 interactions and file copy based on the GFAL 2.0 toolkit.
 gfal2-util supports the protocols of GFAL 2.0 : WebDav(s),
 gridFTP, http(s), SRM, xrootd, etc...

